body {
	margin: 10px 15px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #192252;
}

/* ======= HEADER ===========*/
.header {
	margin-bottom: 50px;
}

.header-block {
	position: relative;
}

nav {
	position: absolute;
	margin-bottom: 15px;
	top: 0;
	left: 40%;
}

.nav__item {
	margin-right: 32px;
	font-weight: 500;
	line-height: 19px;
	text-decoration: none;
	color: #192252;
	transition: text-decoration 0.3s ease;
}

.nav__item:hover {
	text-decoration: underline;
}

.header__link {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	padding: 14px 16px;
	font-weight: 500;
	line-height: 19px;
	text-decoration: none;
	border-radius: 4px;
	background-color: #0e1734;
	color: #fff;
	transition: background-color 0.3s ease;
}

.header__link:hover {
	background-color: #1e306a;
}

/*==========MAIN===========*/
.hero {
	position: relative;
	margin-bottom: 50px;
	padding: 80px 0 96px 0;
}

.hero-block {
	max-width: 587px;
}

.hero-image {
	position: absolute;
	top: 0;
	right: 0;
}

#title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #192252;
}

.text {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #848FAC;
}

.button {
	display: inline-block;
	margin-bottom: 15px;
	padding: 16px 32px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	border-radius: 4px;
	background-color: #0E1734;
	color: #fff;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #1e306a;
}