*,
html {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1230px;
}

a {
	text-decoration: none;
}

.section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.center {
	margin: 0 auto;
	padding-bottom: 88px;
	max-width: 588px;
	text-align: center;
}

.hidden {
	display: none;
	margin-top: 24px;
}

/* ======= HEADER ===========*/
.header {
	padding-top: 36px;
	padding-bottom: 36px;
}

.header-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__item {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #192252;
	transition: color 0.3s ease;
}

.nav__item:not(:last-child) {
	margin-right: 32px;
}

.nav__item:hover {
	color: #848fac;
}

.header__link {
	padding: 14px 16px;
	font-weight: 500;
	line-height: 19px;
	color: #fff;
	border-radius: 4px;
	background-color: #0e1734;
	transition: background-color 0.3s ease;
}

.header__link:hover {
	background-color: #1e306a;
}

/*==========MAIN===========*/
.section-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.main-block {
	max-width: 587px;
}

#title {
	margin: 0;
	margin-bottom: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #192252;
}

.text {
	margin: 0;
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #848fac;
}

.button {
	display: inline-block;
	margin-top: 16px;
	padding: 16px 32px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	border-radius: 4px;
	background-color: #0e1734;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #1e306a;
}

.block-two {
	max-width: 690px;
}

.subtitle {
	margin: 0;
	margin-bottom: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 36px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #192252;
}

.activities-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.activities-block:not(:last-child) {
	margin-bottom: 32px;
}

.activities {
	max-width: 584px;
}

.active-reverse {
	order: 2;
}

.gallery {
	display: flex;
	justify-content: space-between;
}

.gallery-block {
	flex: 1 1 33.33%;
}

.gallery-img {
	margin-bottom: 32px;
}

.gallery-title {
	margin: 0;
	margin-bottom: 16px;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	color: #000;
}

.gallery-link {
	display: inline-block;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #424f7b;
	transition: color 0.3s ease;
}

.gallery-link::after {
	content: '';
	margin-left: 12px;
	display: inline-block;
	width: 16px;
	height: 13px;
	background-image: url(../img/arrow.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.gallery-link:hover {
	color: #848fac;
}

.gallery-text {
	margin-bottom: 32px;
}

.contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact {
	max-width: 407px;
}

.contact-descr {
	display: inline-block;
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #424f7b;
}

.contact-btns {
	display: flex;
}

.contact-btn {
	margin-top: 16px;
	margin-left: 8px;
	padding: 16px 32px;
	display: inline-block;
	height: 51px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #0E1734;
	transition: color 0.3s ease;
}

.contact-btn:hover {
	color: #848fac;
}

.choose {
	max-width: 588px;
}

.choose-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.choose-item {
	padding: 36px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.07);
}

.choose-item:not(:last-child) {
	margin-bottom: 24px;
}

.choose-title {
	position: relative;
	margin: 0;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	color: #424f7b;
}

.choose-title::after {
	content: '';
	position: absolute;
	right: 0;
	width: 40px;
	height: 40px;
	background-image: url(../img/arrow-down.svg);
	background-position: center;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-color: #ffece2;
	border-radius: 100%;
}

.customers {
	margin: 0 auto;
	max-width: 793px;
	text-align: center;
}

.customers-title {
	margin-bottom: 62px;
}

.customers-img {
	margin-bottom: 44px;
}

.customers-descr {
	margin-bottom: 40px;
}

.author {
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #192252;
}

/*======FOOTER======*/
.footer {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #0b265a;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-left {
	flex: 0 1 45%;
}

.footer-logo {
	margin-bottom: 13px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: -0.01em;
	color: #fff;
}

.footer-text {
	margin-bottom: 36px;
	display: inline-block;
	max-width: 186px;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #d9dbde;
}

.social {
	display: flex;
	justify-content: space-between;
	max-width: 144px;
}

.footer-right {
	flex: 1 1 55%;
	display: flex;
	justify-content: space-between;
}

.footer-list {
	list-style: none;
	margin: 0;
	padding: 0;
	flex: 1 1 33.33%;
}

.footer-item:not(:last-child) {
	margin-bottom: 24px;
}

.footer-link {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #d9dbde;
	transition: color 0.3s ease;
}

.footer-link:hover {
	color: #fff;
}

.footer-link-bold {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.01em;
	color: #fff;
}