html {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1230px;
}

a {
	text-decoration: none;
}

.section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.center {
	margin: 0 auto;
	padding-bottom: 88px;
	max-width: 588px;
	text-align: center;
}

/* ======= HEADER ===========*/
.header {
	padding-top: 36px;
	padding-bottom: 36px;
}

.header-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__item {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #192252;
	transition: text-decoration 0.3s ease;
}

.nav__item:not(:last-child) {
	margin-right: 32px;
}

.nav__item:hover {
	text-decoration: underline;
}

.header__link {
	padding: 14px 16px;
	font-weight: 500;
	line-height: 19px;
	color: #fff;
	border-radius: 4px;
	background-color: #0e1734;
	transition: background-color 0.3s ease;
}

.header__link:hover {
	background-color: #1e306a;
}

/*==========MAIN===========*/
.section-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.main-block {
	max-width: 587px;
	/* padding-top: 135px; */
}

#title {
	margin: 0;
	margin-bottom: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #192252;
}

.text {
	margin: 0;
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #848FAC;
}

.button {
	display: inline-block;
	margin-top: 16px;
	padding: 16px 32px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	border-radius: 4px;
	background-color: #0E1734;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #1e306a;
}

.block-two {
	max-width: 690px;
}

.subtitle {
	margin: 0;
	margin-bottom: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 36px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #192252;
}

.activities-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.activities-block:not(:last-child) {
	margin-bottom: 32px;
}

.activities {
	max-width: 584px;
}

.active-reverse {
	order: 2;
}

.gallery {
	display: flex;
	justify-content: space-between;
}

.gallery-block {
	flex: 1 1 33.33%;
}

.gallery-img {
	margin-bottom: 32px;
}

.gallery-title {
	margin: 0;
	margin-bottom: 16px;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	/* text-align: center; */
	color: #000;
}

.gallery-link {
	display: inline-block;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #424F7B;
	transition: color 0.3s ease;
}

.gallery-text {
	margin-bottom: 32px;
}

.gallery-link::after {
	content: '';
	margin-left: 12px;
	display: inline-block;
	width: 16px;
	height: 13px;
	background-image: url(../img/arrow.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.gallery-link:hover {
	color: #20273a;
}